.containerhome1 img {
    width: 700px;
    height: auto;
    float: right;
}
@media(max-width:997px){
   .containerhome1 img{
    display: none;
   }
}
.containerhome1{
    background-color: rgb(227, 232, 227);
    border-radius: 2.5%;
    height: 600px;
    margin: 70px 0 100px;
}

.containerhome1 h1{
     font-size: 3em;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     word-spacing: 10px;
     
}

.containerhome2{
    background-color: rgb(227, 232, 227);
}

.cardcontainerhome2{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color:rgb(227, 232, 227); 
    margin: auto;
}
.cardcontainerhome2 img{
    width: 600px;
    height: auto;
}
.cardtitlecontainerhome2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media(max-width:776px){
    .cardcontainerhome2 img{
        width: 400px;
        height: auto;
    }
}
@media(max-width:496px){
    .cardcontainerhome2 img{
        width: 270px;
        height: auto;
    }
}

.containerhome3{
    margin-top: 60px;
    display: flex;
}

.containerhome3text {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }

  .card2maincontainerhome3 {
    float: right;
    width: 50%;
    box-sizing: border-box;
  }
  .containerhome3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .containerhome3text {
    text-align: center;
  }
  
  .card2maincontainerhome3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .containerhome3 {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .card2maincontainerhome3 {
      justify-content: flex-start;
    }
  
  }
  
  .containerhome4 {
    background-image: url('./pexels-harun-tan-3980364.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  .text-center {
    text-align: center;
    margin: auto;
    width: 50%;
  }
  
  .containerhome5 {
    padding: 20px;
    margin-top: 100px;
    background: none;
  }
  
  .text-center {
    text-align: center;
    margin: auto;
  }
  
  .card {
    margin-top: 20px;
  }

  .cardcontainerhome5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    width: 18rem;
  }
  
  @media (max-width: 768px) {
    .cardcontainerhome5 {
      flex-direction: column;
      align-items: center;
    }
  }
  

  .containerhome6 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

  }
  
  .containerhome6 h1{
      margin-bottom: 50px;
  }
  
  .custom-list {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .custom-list li::before {
    content: '●'; /* Bullet point character */
    color: orangered; /* Change the color to orange */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    line-height: 3;
  }
  

   .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }

  .footer p {
    margin: 5px 0;
    
  }

  .social-media {
    grid-column: 1 / -1;
    margin: 20px 0;
  }

  .social-media a {
    margin: 0 10px;
    color: orangered;
    text-decoration: none;
  }