.buttonmain{
  background-color: black;
  color: white;
  text-align: center;
}
.buttonmain:hover{
  background: black;
  opacity: 70%;
}
span{
  color: orangered;
}
p{
  color: gray;
}


  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 2s ease;
  }
  
